html, body, #root, .App {
  text-align: center;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

button {
  pointer-events: auto;
}

#sketch-container {
  pointer-events: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

#sketch {
  position: fixed;
  width: 100%;
  height: 100%;
}

iframe {
  border: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee Hairline', cursive;
  font-size: large;
}

.info {
  position: fixed;
  top: 2%;
  left: 2%;
  font-family: 'Montserrat Alternates', sans-serif;
}

.carousel-container {
  pointer-events: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15%;
  font-family: 'Montserrat', sans-serif;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
