html, body, #root, .App {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.App-intro {
  font-size: large;
}

button {
  pointer-events: auto;
}

#sketch-container {
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

iframe {
  border: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}
