html, body, #root, .App {
  text-align: center;
  pointer-events: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  min-height: 0;
  min-width: 0;
}

.App {
  display: flex;
  flex-direction: column;
}


button {
  pointer-events: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-carousel {
  flex: 0;
  width: 80%;
}

.title {
  font-family: 'Bungee Hairline', cursive;
  font-size: large;
}

.info {
  position: fixed;
  top: 2%;
  left: 2%;
  font-family: 'Montserrat Alternates', sans-serif;
}

.carousel-container {
  pointer-events: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 17%;
  font-family: 'Montserrat', sans-serif;
}

#sketch-container {
  pointer-events: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}

#sketch {
  border: none;
  position: fixed;
  width: 1px;
  min-width: 100%;
  *width: 100%;
  height: 1px;
  min-height: 100%;
  *height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
